<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self' <%= htmlWebpackPlugin.options.customLocalDomain %> <%= htmlWebpackPlugin.options.customDomain %>;
      img-src 'self' data: https:;
      script-src 'self' https://www.google-analytics.com/analytics.js 'sha256-/hhSd5nRyKjWb//rxH7lc8gvybhIOuvvke5o5v54hRw=' <%= htmlWebpackPlugin.options.customLocalDomain %> <%= htmlWebpackPlugin.options.customDomain %>;
      style-src 'self' 'unsafe-inline' https://www.google-analytics.com https://fonts.googleapis.com/css <%= htmlWebpackPlugin.options.customLocalDomain %> <%= htmlWebpackPlugin.options.customDomain %>;
      font-src 'self';
    ">
    <link rel="shortcut icon" href="./favicon.ico">
    <title>MyZenWallet</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .aligner {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="navbar"></div>

    <div class="aligner">
        <div id="page-content"></div>
    </div>

    <div id="footer"></div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71060764-10', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
